[Desktop Entry]
Name=Light
Comment=White milklike theme
X-KDE-PluginInfo-Author=Saleel Velankar
X-KDE-PluginInfo-Email=svelanka@gmail.com
X-KDE-PluginInfo-Name=Light
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://www.islingt0ner.deviantart.com
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Ubuntu-Gettext-Domain=desktop_kdebase-runtime
